* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container {
    width: 37%;
    height: 65%;
    background-color: rgb(233, 233, 26);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .container-titulo {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-titulo > h1 {
    color: #fff;
}

.container-form {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form > input {
    height: 50%;
    width: 60%;
}
.container-form > button {
    height: 50%;
    width: 12%;
}

.container-list {
    display: flex;
    align-items: center;
    justify-content: center;
}







